# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ambiente virtual
.venv/
venv/
env/
ENV/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Variáveis de ambiente
.env
.env.*

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Testes / cobertura
.pytest_cache/
.coverage
htmlcov/

# Arquivos temporários
*.tmp
*.temp
*.swp